
lojaDeRoupas/.vs/lojaDeRoupas/FileContentIndex/3608979e-2ffa-4044-92ad-c4effe4a0e7f.vsidx
lojaDeRoupas/.vs/lojaDeRoupas/FileContentIndex/49cda2ba-1baa-45ac-bb19-47b790fb1fa2.vsidx
lojaDeRoupas/.vs/lojaDeRoupas/FileContentIndex/800f76f0-1a67-4a81-9ad8-5342e99e2629.vsidx
lojaDeRoupas/.vs/lojaDeRoupas/FileContentIndex/9d1fe230-7bf1-4e34-bdf0-d7b9d80bd8be.vsidx
